# build files:
CutLang
delphes

# output files:
cutlang_results

# virtual environment:
py-ve

# python miscellanea:
__pycache__

# vim:
*.swp
.ropeproject

# locks
.lock*

# (temporary) results
T*_*jet.*/
embaked/
baking.log
mg5results/
