# build files:
CutLang
delphes

# output files:
cutlang_results

# virtual environment:
py-ve

# python miscellanea:
__pycache__

# vim:
*.swp
.ropeproject

# locks
.lock*

# (temporary) results
T*_*jet.*/
embaked/
baking.log
mg5results/

.mg5/
CL_output_summary.dat
summary_T*.dat
ME5_debug
MG5_debug
logs/
mg5.good/
mg5.v2/
mg5/
py.py
stats.pcl
.last.summary
