# build files:
CutLang
CutLang.backup
delphes
delphes.backup

# output files:
cutlang_results

# virtual environment:
py-ve

# python miscellanea:
__pycache__

# vim:
*.swp
.ropeproject

# locks
.lock*

# (temporary) results
T*_*jet.*/
ma5/
ma5_T*_*jet.*/
embaked/
baking.log
mg5results/

.mg5/
CL_output_summary.dat
summary_T*.dat
ME5_debug
MG5_debug
logs/
mg5.backup/
mg5.v2/
mg5/
py.py
stats.pcl
.last.summary
temp/

# another file produced by the baker
statsEM.py

# checkmate2 output
cm2results
cm2
cm2.backup

# hepmc2 (used for cm2)
hepmc2
hepmc2.backup

slurm.py
cancel_jobs.py
du-h
