README
ALOHA
doc.tgz
UpdateNotes.txt
MadSpin/
PLUGIN/
VERSION
aloha
bin
madgraph
mg5decay
models
tests
vendor
HELAS
INSTALL
LICENSE
MG5*tar.gz
Template
input
MG5_aMC*
HEPTools
Delphes.tgz
Delphes/
py.py
